extends layout

block content
  h1= title
  p Want to feel more productive without spending $300? Don't worry. Just type here.
  textarea(rows="30" cols="90" id="typing")
  br
  p 
    a(href="https://atom.io/packages/mechanical-keyboard") Become an elite programmer. Install the Atom plugin (credit to remanc).
  p 
    a(href="https://github.com/rewonc/mechkey") What's more, this keyboard is open source. Want to add laser beam noises? Go ahead.
